<md-toolbar id="top" class="flex-center">
    <!--<button md-icon-button [mdMenuTriggerFor]="menu">
            <md-icon>menu</md-icon>
        </button>
        <md-menu #menu="mdMenu">
            <button md-menu-item>
                <md-icon>perm_identity</md-icon>
                <span>About</span>
            </button>
            <button md-menu-item disabled>
                <md-icon>voicemail</md-icon>
                <span>Projects</span>
            </button>
            <button md-menu-item>
                <md-icon>notifications_off</md-icon>
                <span>Contact</span>
            </button>
        </md-menu>-->
        <ul class="nav flex-center flex-100">
            <li class="nav-link"><a class="nav-item" href="#about">A B O U T</a><span></span></li>
            <li class="nav-link"><a class="nav-item" href="#projects">P R O J E C T S</a><span></span></li>
            <li class="nav-link"><a class="nav-item" href="#contact">C O N T A C T</a><span></span></li>
        </ul>
</md-toolbar>

<div id="logo">
    <a href="#intro">
        <h1>
            Da
            <br>
            ni
            <br>
            Lo
        </h1>
    </a>
</div>

<div id="top-right">
    <p>
        <span>Danilo Carandang</span>
        <span>Web Developer</span>
    </p>
</div>

<section id="hero" class="hero flex-center full-section">
    <div class="hero-desc">
        <h1>Developer based in San Diego, California.</h1>
    </div>

    <div id="scroll-down" (click)="scrollDown()">
        <md-icon>details</md-icon>
    </div>
</section>

<div id="fab">
    <a href="#hero">   
        <button md-mini-fab>
            <md-icon>arrow_drop_up</md-icon>
        </button>
    </a>    
</div>

<section class="about flex-center full-section" id="about">
    <p>This is the section that I tell you about myself and how much I love to code.  Now you know how great I am!</p>
</section>

<section class="projects full-section p-t-50" id="projects">
    <app-dynamic-grid></app-dynamic-grid>
</section>

<section class="contact flex-center full-section" id="contact">
    <div class="form-container flex-center flex-100">
        <form action="submit" class="flex-100">
            <md-grid-list cols="12" rowHeight="64px">
                <md-grid-tile colspan="1" rowspan="6">
                    <!--gutter-->
                </md-grid-tile>
                <md-grid-tile colspan="2" rowspan="6">
                    <!--divider-->
                </md-grid-tile>
                <md-grid-tile colspan="6" rowspan="1">
                   <h1 class="form-desc flex-100">C O N T A C T</h1>
                </md-grid-tile>
                <md-grid-tile colspan="2" rowspan="6">
                    <!--divider-->
                </md-grid-tile>
                <md-grid-tile colspan="1" rowspan="6">
                    <!--gutter-->
                </md-grid-tile>
                <md-grid-tile colspan="3" rowspan="1">
                   <input type="text" placeholder="First Name*" class="flex-100 p-20" required>
                </md-grid-tile>
                <md-grid-tile colspan="3" rowspan="1">
                    <input type="text" placeholder="Last Name" class="flex-100 p-20">
                </md-grid-tile>
                <md-grid-tile colspan="3" rowspan="1">
                    <input type="text" placeholder="Email*" class="flex-100 p-20" height="100%" required>
                </md-grid-tile>
                <md-grid-tile colspan="3" rowspan="1" class="flex-center">
                    <span class="flex-auto flex-center">*Requested Field</span>
                </md-grid-tile>
                <md-grid-tile colspan="6" rowspan="2">
                    <textarea name="message" id="form-text" placeholder="Message*" class="flex-100 p-20 d-flex m-t-30" required></textarea>
                </md-grid-tile>
                <md-grid-tile colspan="6" rowspan="1">
                    <button md-raised-button id="submit" type="submit" class="flex-100">S E N D</button>
                </md-grid-tile>
            </md-grid-list>
        </form>
    </div>
</section>
<footer>
    <md-toolbar class="flex-center font-12"><p>Copyright © Danilo Carandang 2017</p></md-toolbar>
</footer>